html {
	background-color: #141414;
	color: #FFF;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.header-container {
	background-color: #000;
	width: 100%;
	height: 180px;
	display: block;
}

.logo {
	overflow: hidden;
	display: table;
	margin: 0 auto;
}

.logo a {
	margin-top: 20px;
	display: inline-block;
}

.navigation {
	margin: 0 auto;
	overflow: hidden;
	display: table;
	max-width: 960px;

}

.navigation ul li {
	margin-top: 30px;
	list-style: none;
	text-align: left;
	float: left;
}

.navigation li {
	padding-right: 35px;
}

.navigation li a {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.page-container {
	margin-top: 50px;
	width: 100%;
	height: 100%;
	display: block;
	color: #000;
}

.article-container {
	padding: 40px;
	margin: 0 auto;
	display: table;
	max-width: 960px;
	background-color: #dcdcdc;
}

.article-title h1 {
	font-family: Arial;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}

.article-details {
	font-family: 'Rajdhani', sans-serif;
	font-size: 12px;
}

.article-details a {
	text-decoration: none;
}
.article-image {
	position: relative;
	max-width: 400px;
	display: inline-block;
	max-height: 400px;
	float: left;
}
.article-image img {
	width: 100%;
	height: auto;
}

.article-content {
	top: 0px;
	max-width: 500px;
	height: 225px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	float: right;
	padding-left: 10px;
}

.article-content .article-text {
	padding-top: 10px;
}
.article-content .article-details > i {
	font-style: italic;
}

.article-button {
	position: absolute;
	background-color: #d2d2d2;
	width: 100%;
	height: 40px;
	border: 0px;
	bottom: 0px;
}


.article-separator {
	margin-top: 60px;

    background:url("../images/separator.png") no-repeat; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
  	padding-top: 100px;
}

.header-graph {

    background:url("../images/header-graph.png") no-repeat; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
}

.article-top {

    background:url("../images/article-top.png") no-repeat; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1010px;
    height: 90px;
    position: absolute;
    margin-top: -130px;
    margin-left: -50px;
}
article {
	max-height: 400px;
}

footer {
	margin-top: 20px;
	width: 100%;
	height: 100%;
	background-color: black;
}
footer p {
	font-family: Arial;
	margin: 0 auto;
	display: table;
	padding-top: 20px;
	padding-bottom: 20px;
}